<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<!--配置文件方式-->
	<bean id="studentService" class="com.huxl.spring_base.service.StundentServiceImplI">
		<property name="studentDAO" ref="studentDAO"></property>
	</bean>
	<bean id="studentDAO" class="com.huxl.spring_base.dao.SudentDAOImpl"></bean>
	<bean id="monkeyService" class="com.huxl.spring_base.service.MonkeyServiceImpl"></bean>
	<bean id="servicePointCut" class="com.huxl.spring_base.aop.ServicePointCut"></bean>

	<!--注解的方式-->
<!--	<context:component-scan base-package="com.huxl.spring_base"></context:component-scan>-->
	<!---->
	<aop:config>
		<aop:aspect id="aspectPointCut" ref="servicePointCut">
			<aop:pointcut id="pointCut" expression="execution(* *(..))"></aop:pointcut>
			<aop:before method="doBefore" pointcut-ref="pointCut"/>
			<aop:after method="doAfter" pointcut-ref="pointCut"/>
		</aop:aspect>
	</aop:config>
</beans>